<<<<<<< HEAD

    body
    {
        background: white;
        margin: 0 auto;
        font-family: Arial;
    }

    .boxed {
        border: 30px solid lightskyblue;
        background-color:lightskyblue;
        padding: 0px;
        margin: 0 auto;
        font-family: Arial;
        color:white;
        text-align: center;
        font-weight: bold;
    }

    .TextBox
    {
        border: 2px solid black;
        margin: 0 auto;
        font-size: 30px;
    }

    .Code
    {
        font-size: 20px;
    }
    .selected
    {
        background-color: yellow;
    }

    
    .Output
    {
        border: 2px solid black;
        margin: 0 auto;
        font-size: 20px;
        height: 200px;
    }
    .Pbutton
    {
    background-color: lightskyblue;
    color: white;
    padding: 24px;
    font-size: 24px;
    border: none;
    }
    .previous
    {
    position: relative;
    display: inline-block;
    }
    .Nbutton
    {
    background-color: lightskyblue;
    color: white;
    padding: 24px;
    font-size: 24px;
    border: none;
    }
    .next
    {
    position: relative;
    display: inline-block;
    }

    .dropbtn
    {
    background-color: lightskyblue;
    color: white;
    padding: 24px;
    font-size: 24px;
    border: none;
    }

    .dropdown
    {
    position: relative;
    display: inline-block;
    }

    .dropdown-content 
    {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a 
    {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: royalblue;}
    .previous:hover .Pbutton{background-color: royalblue;}
    .next:hover .Nbutton{background-color: royalblue;}
=======

     body
     {
         background: white;
         margin: 0 auto;
         font-family: Arial;
     }
 
     .boxed {
         border: 30px solid lightskyblue;
         background-color:lightskyblue;
         padding: 0px;
         margin: 0 auto;
         font-family: Arial;
         color:white;
         text-align: center;
         font-weight: bold;
     }
 
     .TextBox
     {
         border: 2px solid black;
         margin: 0 auto;
         font-size: 30px;
     }
 
     .Code
     {
         font-size: 20px;
     }
     .selected
     {
         background-color: yellow;
     }
 
 
     .Output
     {
         border: 2px solid black;
         margin: 0 auto;
         font-size: 20px;
         height: 200px;
     }

     .Help
     {
         border: 2px solid black;
         margin: 0 auto;
         font-size: 20px;
         height: 200px;
     }

     .Pbutton
     {
     background-color: lightskyblue;
     color: white;
     padding: 24px;
     font-size: 24px;
     border: none;
     }
     .previous
     {
     position: relative;
     display: inline-block;
     }
     .Nbutton
     {
     background-color: lightskyblue;
     color: white;
     padding: 24px;
     font-size: 24px;
     border: none;
     }

     .dButton
     {
    background-color: lightskyblue;
    color: white;
    padding: 24px;
    font-size: 24px;
    border: none;
     }

     .next
     {
     position: relative;
     display: inline-block;
     }
 
     .dropbtn
     {
     background-color: lightskyblue;
     color: white;
     padding: 24px;
     font-size: 24px;
     border: none;
     }
 
     .dropdown
     {
     position: relative;
     display: inline-block;
     }
 
     .dropdown-content
     {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     }
 
     .dropdown-content a
     {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     }
 
     .dropdown-content a:hover {background-color: #ddd;}
 
     .dropdown:hover .dropdown-content {display: block;}
 
     .dropdown:hover .dropbtn {background-color: royalblue;}
     .previous:hover .Pbutton{background-color: royalblue;}
     .next:hover .Nbutton{background-color: royalblue;}
 
>>>>>>> 624ea9e967a6970d7d31f6f75ba36c60d942408f
